$base: #ade490;
$text: #521b6f;

.container {
  width: 90%;
  margin: auto;
}
.Notes{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .note{
      margin: 10px;
      width: 200px;
      background-color: $base;
      padding: 10px;
      border-radius: 10px;

      .title{
        font-size: 18px;
        color: $text;
        font-weight: 800;
      }
      .bin{
        text-align: right;
        
        span{
          cursor: pointer;
        }
      }
    }
}

